
.cart-page-content{
    margin-top: 6rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 5rem);
    grid-gap: 1rem;
    grid-template-areas: 
    "item-a item-d"
    "item-b item-d"
    "item-c item-d"
    "item-e item-e"

}

.cart-page-content-item{
    border: solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    

    p{
        text-align: center;
        font-size: 8px;
    }
}

.a{
    grid-area: item-a;
}

.b{
    grid-area: item-b;
}

.c{
    grid-area: item-c;
}

.delivery-info{
    grid-area: item-d;
    background-color: $primary;
}

.order-info{
    grid-area: item-e;
    background-color: $primary;
}

@media screen and (min-width: 480px) {

    .cart-page-content{
        margin-top: 6rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 5rem);
        grid-gap: 1rem;
        grid-template-areas: 
        "item-a item-d"
        "item-b item-d"
        "item-c item-d"
        ". item-e";
    }


}
