.footer{

    margin-top: 5rem;
    min-height: 15rem;
    background-color: $primary;
    color:$text;

    .footer-content{
        padding:0;
        list-style:none;
        text-align:center;
        font-size:18px;
        line-height:1.6;
        margin-bottom:0;

    .footer-content__link{
        color:$text;
    }
    }

}