/*
.main-page-content{
    

    .main-page-content-text-tittle{
        
        text-align: center;
        font-size: 30px;

       
    }

    .food-btn{
        display: flex;
       
     }
}
*/