.main-page-banner{
    padding-top: 5rem;
    display: grid;

}

.main-page-banner-content-text{
    background-color: $primary;
    height: 20rem;
    font-style: italic;
    font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $text;
}

//MOBILE 0px to 480px


@media screen and (min-width: 0px) {

    .main-page-banner{
        grid-template-columns: repeat(12, 1fr);
    }

    .main-page-banner-content-img{
        width: 100%;
        height: 20rem;
    }

    .main-page-banner-content{

        grid-column: auto /span 12;

    }


}


//TABLET 480px to 990px


@media screen and (min-width: 480px) {

    .main-page-banner{

        grid-template-columns: repeat(12, 1fr);

    }

    .main-page-banner-content{
        display: grid;
        grid-column: span 6;

    }


}




//PC 990px and higher 


@media screen and (min-width: 990px) {

    .main-page-banner{
        grid-template-columns: repeat(12, 1fr);
    }

    .main-page-banner-content{
        grid-column: auto /span 6;

    }

    .main-page-banner-content-img{
        width: 100%;
        height: 35rem;
    }

    .main-page-banner-content-text{
        background-color: $primary;
        height: 35rem;
    }
}