
.main-page-banner{
    display: grid;
    margin-top: 5rem;
    
}

.main-page-banner-content-img{
    width: 100%;
    height: 15rem;
}

.main-page-banner-content-text{
    height: 15rem;
    padding: 0.5rem;
    background-color: $primary;
}

/*
TABLET
*/

@media screen and (min-width: 452px) {

    .main-page-banner{
        grid-template-columns: repeat(12, 1fr);
        grid-auto-flow: dense;
    }
    
    .main-page-banner-content{
        
        grid-column: auto /span 12;
        
    }


}

/*
PC
*/

@media screen and (min-width: 992px) {

    .main-page-banner{
        grid-template-columns: repeat(12, 1fr);
    }
    
    .main-page-banner-content{
        grid-column: auto /span 6;
        
    }

}







