$primary:#548C6F; 
$secondary:#0477BF; 
$text: white;
$backround:#44AFF2;
 

@import "./meyers-reset-modified"; 
@import "./header"; 
@import "./main-page-banner"; 
@import "./main-page-content"; 
@import "./footer";
