@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*denenorunsuoghrijæ*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  background-color: #548C6F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5rem;
  position: fixed;
  top: 0;
  width: 100vw;
  /*
  TABLET AND MOBILE 0 - 990
  */
  /*
  PC 990 PX AND BIGGER
  */
}
.header .header-logo {
  text-decoration: none;
  font-style: italic;
  font-size: 1.3rem;
  padding: 1rem;
  color: #F0FFF7;
}
.header .header-nav {
  display: none;
}
.header .hamburger-menu {
  margin: 2rem;
}
.header .header-nav-content {
  display: flex;
  flex-direction: row;
}
.header .header-nav-content .header-nav-content__link {
  padding: 2rem;
  font-family: sans-serif;
  text-decoration: none;
  color: #F0FFF7;
}
.header .header-nav-content .header-nav-content__link:hover {
  background-color: #0477BF;
}
@media screen and (max-width: 989px) {
  .header .header-nav-content {
    position: fixed;
    border: solid;
    padding-top: 2.5rem;
    top: 5rem;
    right: 0rem;
    width: 50%;
    height: 1000%;
    background-color: #548C6F;
    flex-direction: column;
    row-gap: 5rem;
    text-align: center;
  }
  .header .header-nav-content .header-nav-content__link {
    padding-top: 2.5rem;
    padding-left: 45%;
    padding-right: 45%;
    padding-bottom: 2.5rem;
    border-top: solid;
  }
}
@media screen and (min-width: 990px) {
  .header .header-nav {
    display: flex;
  }
  .header .hamburger-menu {
    display: none;
  }
}

.main-page-banner {
  padding-top: 5rem;
  display: grid;
}

.main-page-banner-content-img {
  width: 100%;
  height: 35rem;
}

.main-page-banner-content-text {
  background-color: #548C6F;
  height: 34rem;
}

@media screen and (min-width: 0px) {
  .main-page-banner {
    grid-template-columns: repeat(12, 1fr);
  }

  .main-page-banner-content-img {
    width: 100%;
    height: 20rem;
  }

  .main-page-banner-content-text {
    background-color: #548C6F;
    height: 20rem;
    font-style: italic;
    font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F0FFF7;
  }

  .main-page-banner-content {
    grid-column: auto/span 12;
  }
}
@media screen and (min-width: 480px) {
  .main-page-banner {
    grid-template-columns: repeat(12, 1fr);
  }

  .main-page-banner-content {
    display: grid;
    grid-column: span 6;
  }
}
@media screen and (min-width: 990px) {
  .main-page-banner {
    grid-template-columns: repeat(12, 1fr);
  }

  .main-page-banner-content {
    grid-column: auto/span 6;
  }

  .main-page-banner-content-img {
    width: 100%;
    height: 35rem;
  }

  .main-page-banner-content-text {
    background-color: #548C6F;
    height: 35rem;
  }
}
.main-page-content {
  display: grid;
}

.main-page-content-wrapper {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, 40rem);
  grid-gap: 1rem;
  grid-template-areas: "item-a" "item-b" "item-c" "item-d" "item-e" "item-f";
}

.main-page-content-wrapper-img {
  border: solid;
  background-size: cover;
}

.a {
  grid-area: item-a;
  background-image: url(/images/pizzameny.png);
}

.b {
  grid-area: item-b;
  background-image: url(/images/pizzameny1.png);
}

.c {
  grid-area: item-c;
  background-image: url(/images/pastameny.png);
}

.d {
  grid-area: item-d;
  background-image: url(/images/pastameny1.png);
}

.e {
  grid-area: item-e;
  background-image: url(/images/drikkemeny.png);
}

.f {
  grid-area: item-f;
  background-image: url(/images/drikkemeny1.png);
}

@media screen and (min-width: 480px) {
  .main-page-content-wrapper {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 40rem);
    grid-gap: 1rem;
    grid-template-areas: "item-a item-b" "item-c item-d" "item-e item-f";
  }
}
@media screen and (min-width: 990px) {
  .main-page-content-wrapper {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 40rem);
    grid-gap: 1rem;
    grid-template-areas: "item-a item-b item-c" "item-d item-e item-f";
  }
}
.footer {
  margin-top: 5rem;
  min-height: 15rem;
  background-color: #548C6F;
  color: white;
}
.footer .footer-content {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}
.footer .footer-content .footer-content__link {
  color: white;
}/*# sourceMappingURL=main.css.map */