$primary:#548C6F; 
$primary-dark: #4E837E; 
$text: #F0FFF7;
$backround:#44AFF2;
 

@import "./meyers-reset-modified"; 
@import "./header"; 
@import "./main-page-banner"; 
@import "./main-page-content"; 
@import "./footer"; 

